<div class="row">
  <div class="col-md-3">
    <div class="well">
      <form name="searchRepositoriesForm" role="form" ng-submit="search(searchKey)">
        <fieldset>
          <div class="form-group">
            <input type="text" id="name" name="name" ng-model="searchKey"
                   class="form-control"
                   placeholder="Search GitHub for repositories">
          </div>
        </fieldset>
        <button type="submit" id="searchsubmit" class="btn btn-success"><span class="fa fa-search"> Search</span>
        </button>
      </form>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span ng-show="searchInProgress">Search In Progress <i class="fa fa-spinner fa-spin"></i></span>

        <div ng-show="!searchInProgress">
          <span class="badge">{{repositoriesPage.total_count || 0}}</span> repositories found
        </div>
      </div>

      <div class="panel-body">
        <div ng-if="repositoriesPage.items.length > 0" class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li ng-repeat="repository in repositoriesPage.items" class="list-group-item ghb-media-item"
                  ng-click="goToRepository(repository.owner.login, repository.name)">
                <div class="media">
                  <div class="pull-left" style="min-width: 75px; min-height: 70px;">
                    <img ng-if="repository.owner.avatar_url" class="media-object" ng-src="{{repository.owner.avatar_url}}&s=200" height="100" width="100" />
                    <i ng-if="!repository.owner.avatar_url" class="media-object fa fa-picture-o fa-4x"></i>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">
                      <h4 style="display: inline">{{repository.name}}</h4>
                      <span class="pull-right">
                        <span class="badge">
                          <i class="fa fa-star"></i> {{repository.stargazers_count}}
                        </span>
                        <span class="badge">
                          <i class="fa fa-code-fork"></i> {{repository.forks_count}}
                        </span>
                        <span class="badge">
                          <i class="fa fa-eye"></i> {{repository.subscribers_count}}
                        </span>
                      </span>
                    </div>

                    <p><strong>{{repository.full_name}}</strong></p>

                    <p>{{repository.description}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div ng-if="repositoriesPage.items.length > 0" class="row">
          <div class="col-md-12">
            <div class="text-center">
              <ul class="pagination">
                <li ng-class="{'disabled': _.isEmpty(pageLinks.first)}">
                  <a href="" ng-click="goToPage(pageLinks.first)">&lt;&lt;</a>
                </li>
                <li ng-class="{'disabled': _.isEmpty(pageLinks.prev)}">
                  <a href="" ng-click="goToPage(pageLinks.prev)">&lt;</a>
                </li>
                <li class="disabled">
                  <a href="">{{page || 1}}</a>
                </li>
                <li ng-class="{'disabled': _.isEmpty(pageLinks.next)}">
                  <a href="" ng-click="goToPage(pageLinks.next)">&gt;</a>
                </li>
                <li ng-class="{'disabled': _.isEmpty(pageLinks.last)}">
                  <a href="" ng-click="goToPage(pageLinks.last)">&gt;&gt;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-if="!repositoriesPage.items || repositoriesPage.items.length <= 0" class="row">
          <div class="col-md-12">
            <div class="well">
              <em ng-if="searchKey">No Repository Found</em>
              <em ng-if="!searchKey">Enter criteria to search for repositories</em>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>